<div id="post-index">
    {{#foreach posts}}

    <article class="{{post_class}}">
        <section class="echo-post-excerpt">       
            {{> post-meta}}
            <div class="post-flex">
                <a href="{{url}}" class="post-vista">{{content words="0"}}</a>
                <div class="post-detalle">
                    <h1><a href="{{url}}">{{{title}}}</a></h1>
                    <p class="echo-excerpt">{{excerpt}}&hellip;</p>
                    <a class="echo-read-post" href="{{url}}">Leer más &rarr;</a>
                </div>
            </div>
        </section>
    </article>

    {{/foreach}}

    {{!! Pagination links }}
    {{pagination}}
</div>