<!DOCTYPE html>
<html>
    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

        {{! CSS  }}
        <link href='http://fonts.googleapis.com/css?family=Droid Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset "css/screen.css"}}">
        <link rel="stylesheet" href="{{asset "css/funnix.css"}}">
        
        <!--[if lt IE 9]><script src="{{asset "js/vendor/html5shiv.min.js"}}"></script><![endif]-->

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

    </head>
    <body class="{{body_class}}">

    <header {{#if @blog.cover}}style="margin-bottom: 0px;"{{/if}}>
        <div class="wrapper">
            {{#if @blog.logo}}
            <a href="{{@blog.url}}">
                <img class="echo-blog-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            </a>
            {{/if}}

            {{! Mobile Menu Button }}
            <i class="icon-menu echo-menu-btn"></i>
            
            {{! Blog Title }}
            <h2><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
            
            {{! Social Media Icons }}
            {{> social-media}}     
        </div>      
    </header>

    {{#if @blog.cover}}
        {{> cover-photo}}  
    {{/if}}

    <div class="wrapper">        
        <div class="echo-sidebar">

            <i class="icon-close echo-close-btn"></i>

            <div class="echo-blog-info">
                   
                <h4>Sobre {{@blog.title}}</h4>
                <p>{{@blog.description}}</p>
                    
            </div>

            {{> navigation}}
        </div>

        <main class="animated fadeIn" role="main">
            {{{body}}}
        </main>
    </div>

    <footer>
        <div class="echo-copyright">
             <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a>. Sin permisos de escritura.</section>
             <section class="poweredby">Un blog de <a href="http://dixit.com.py/">diXit</a> contenidos.</section>
        </div>
    </footer>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
        <script src="{{asset "js/vendor/jquery.fitvids.min.js"}}"></script>
        <script src="{{asset "js/main.js"}}"></script>

    </body>
</html>
