<!DOCTYPE html>
<html>
    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {{! CSS  }}
        {{> funnix/styles}}        
        <!--[if lt IE 9]><script src="{{asset "js/html5shiv.min.js"}}"></script><![endif]-->

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

<<<<<<< HEAD
        {{> funnix/analytics}}        

=======
        {{> rockntown/analytics}}
>>>>>>> develop
    </head>
    <body class="{{body_class}}">

        <header {{#if @blog.cover}}style="margin-bottom: 0px;"{{/if}}>
            <div class="wrapper">
                {{#if @blog.logo}}
                <a href="{{@blog.url}}">
                    <img class="dixit-blog-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                </a>
                {{/if}}

<<<<<<< HEAD
            {{! Mobile Menu Button }}
            <i class="icon-menu echo-menu-btn"></i>
            
            {{! Blog Title }}
            <h2><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
            
            {{! Social Media Icons }}
            {{> funnix/social-media}}     
        </div>      
    </header>
=======
                {{! Mobile Menu Button }}
                <i class="icon-menu dixit-menu-btn"></i>
                
                {{! Blog Title }}
                <h2><a href="{{@blog.url}}">{{@blog.title}}</a></h2>
                
                {{! Social Media Icons }}
                {{> rockntown/social-media}}     
            </div>      
        </header>
>>>>>>> develop

        {{#if @blog.cover}}
            {{> cover-photo}}  
        {{/if}}

        <div class="wrapper">        
            <div class="dixit-sidebar">

                <i class="icon-close dixit-close-btn"></i>

                <div class="dixit-blog-info">
                       
                    <h4>Sobre {{@blog.title}}</h4>
                    <p>{{@blog.description}}</p>
                        
                </div>

                {{> search}}
                {{> rockntown/navigation}}
            </div>

            <main class="animated fadeIn" role="main">
                {{{body}}}
            </main>
        </div>

        {{> footer}}

        <a href="#" class="back-to-top">Volver arriba</a>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}
        <script src="{{asset "js/dixit.js"}}"></script>
    </body>
</html>
